<% layout("/layouts/boilerplate")-%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Edit listing:</h3>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <lable for="title" class="form-label">title</lable>
                    <input value="<%= listing.title%>" name="listing[title]" type="text" class="form-control" required>
                    <div class="invalid-feedback">Title should be valid!</div>
                </div>
                <div class="mb-3">
                    <lable for="description" class="form-label">description</lable>
                    <textarea name="listing[description]" type="text"
                        class="form-control" required><%= listing.description%></textarea>
                    <div class="invalid-feedback">Description should be valid!</div>
                </div>
                <div class="mb-3">
                    <lable for="image" class="form-label">Upload new image</lable>
                    <input name="listing[image]" type="file" class="form-control">
                </div>
                <div class="row" >
                    <div class="mb-3 col-md-4">
                        <lable for="price" class="form-label">price</lable>
                        <input value="<%= listing.price%>" name="listing[price]" type="number" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <lable for="location" class="form-label">location</lable>
                        <input value="<%= listing.location%>" name="listing[location]" type="text" class="form-control" required>
                        <div class="invalid-feedback">Location should be valid!</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <lable for="country" class="form-label">country</lable>
                    <input value="<%= listing.country%>" name="listing[country]" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid!</div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
                <br>
            </form>
            </div>
            
        </div>

    </body>
